*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%; 
 
}

.login{
    height: 100%;
    border: 50px solid black;
    display: flex;
    flex-direction: row;
    background-color: rgba(2, 54, 7, 0.808);
    background-image: url('/img/bkgNota.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;    
}
.banner{
    width: 50%;
    height: 100%;
}
.tela-login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form-wrapper{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: bolder;  
    font-size: 50px;
    color: rgba(35, 177, 7, 0.658);
    text-shadow: 2px 1px rgb(11, 12, 11);
}
    
.form-wrapper button{
    width: 70%;
    margin-left: 15%;
    margin-top: 15px; 
    font-weight: bolder;    
    font-size: 40px;
    color: rgba(35, 177, 7, 0.658);
    text-shadow: 2px 1px rgb(11, 12, 11);
    background-color: rgb(20, 65, 16);
    border-radius: 20px;
}
.form-group{
    padding: 10px;
}
.form-wrapper input{
    border: 3px solid rgb(30, 158, 5);
}
.banner{    
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    margin-top: 25%;   
    font-size: 100px;
    font-weight: bolder;
    color: rgba(35, 177, 7, 0.658);
    text-shadow: 2px 1px black;
}
.subtitulo{   
    font-size: 100px;
    font-weight: bolder;
    color: rgba(35, 177, 7, 0.658);
    text-shadow: 2px 1px black;
}
.cadastro{
    color: rgba(35, 177, 7, 0.658);
    text-shadow: 2px 1px black;
    
}


