*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%; 
 
}

.ad{
    justify-content: center;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#banners160x600{
    width: 160px;
    height: 600px;
    border: 1px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
 
}
#banners160x600 p{
   text-align: center;
}
div a {
    text-decoration: none;
}

footer{
    margin-bottom: 0px;
}