<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{background-color: rgb(127, 155, 144);}
    </style>
</head>
<body>
    <div class="welcome">
        <p>Seja bem vindo,</p><php
          $nome_usuario="Fernando";
          echo $nome_usuario; ?></php><p>Agredecemos pelo seu interesse em se tornar um colaborador de nossa plataforma 
              de ganhos.
              Diariamente você poderá ganhar um valor fixo(pequeno em comparação ao ofertado por sites mentirosos),
              mas coerente como renda extra.
              As tarefas são extremamente simples de se realizar, exigirão um minúsculo periodo de tempo diário.
              


          </p>
    </div>
    
</body>
</html>