<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/gpa.css">
    <link rel="stylesheet" href="../util/bootstrap/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../util/fontawesome/fontawesome-free-6.1.1-web/css/all.min.css">
    <script src="../util/bootstrap/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script src="../util/fontawesome/fontawesome-free-6.1.1-web/js/all.min.js"></script>
    <script src="/js/jquery.js"></script>    
    <title>Visualização de youtube</title>
</head>
<body>     
<div class="gpa"> 
    <div class="painel-GPA"><p><b> Aqui você será remunerado por passar os segundos contratados de visualização da página.
        As páginas têm seu próprio tempo em segundos e sua própria remuneração. A não permanência na guia ativa durante
        a contagem de exibição do site cancelará a remuneração, e desativará o card referente a este ganho não sendo possivel
        reativar este ganho por 24h e afetando o cumprimento de missões bônus.</b></p></div>

        <div class="video-wall"> 
            <div class="video">Renda Exta de Verdade
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">Titulo do vídeo
                <iframe width="460" height="300" src="https://www.youtube.com/embed/bnHRXk37xe4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
       

    
        
    
</body>
</html>