<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ref_160x600.css">
    <link rel="stylesheet" href="../util/bootstrap/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../util/fontawesome/fontawesome-free-6.1.1-web/css/all.min.css">
    <title>Referências 160x600</title>
</head>
<body>
<div class="ad">
        <a href="" target="_blank"><div class="ref1" id="banners160x600"><script type="text/javascript">
            atOptions = {
                'key' : '9aa61f5b6059d93a481cc137549afd65',
                'format' : 'iframe',
                'height' : 600,
                'width' : 160,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplayformats.com/9aa61f5b6059d93a481cc137549afd65/invoke.js"></scr' + 'ipt>');
        </script><img src=""></div></a>
        <a href=""><div class="ref2" id="banners160x600">2<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>
        <a href=""><div class="ref3" id="banners160x600">3<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>
        <a href=""><div class="ref4" id="banners160x600">4<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref5" id="banners160x600">5<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>
        <a href=""><div class="ref6" id="banners160x600">6<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>
        <a href=""><div class="ref7" id="banners160x600">7<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>
        <a href=""><div class="ref8" id="banners160x600">8<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>
        <a href=""><div class="ref9" id="banners160x600">9<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>
        <a href=""><div class="ref10" id="banners160x600">10<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>         
        <a href=""><div class="ref11" id="banners160x600">11<p>Coloque aqui seu banner de referência 160px/600px</p></div></a>
        <a href=""><div class="ref12" id="banners160x600">12<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref13" id="banners160x600">13<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref14" id="banners160x600">14<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref15" id="banners160x600">15<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref16" id="banners160x600">16<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref17" id="banners160x600">17<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref18" id="banners160x600">18<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref19" id="banners160x600">19<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
        <a href=""><div class="ref20" id="banners160x600">20<p>Coloque aqui seu banner de referência 160px/600px</p></div></a> 
</div> 
 


    <script src="../util/bootstrap/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script src="../util/fontawesome/fontawesome-free-6.1.1-web/js/all.min.js"></script>
    <footer>Developed by @NandoDev HypeSoft Company</footer>
</body>
</html>